@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
	margin: 0;
	padding: 0;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: teal; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #b30000; 
  }
html{
	margin-left: 6%;
	margin-right: 6%;
	background-color: gray;
}
@media(max-width:950px){
	html{
		margin-left: 0;
		margin-right: 0;
	}
}
@media (min-width:460px){
	html{
		margin-left: 0 auto;
		margin-right: 0 auto;
	}
}
html{
	background-image: url(/image/pathor.jpg);
	background-attachment: fixed;
}
body{
	scroll-behavior: smooth;
	
}
/* ---------top navbar------- */
.nav-top{
	width: 100%;
	display: inline-flex;
	background-color: rgb(247, 250, 250);
	overflow: hidden;	
}
.nav-top li{
	list-style-type: none;
	padding: 18px 10px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	
}
.nav-top li a{
	text-decoration: none;
}

.nav-top li:hover a{
	color: red;
}
.nav .nav-item{
	float: left !important;
}
@media(max-width:700px){
	.nav-top{
		font-size: auto;
		display: inline-flex;
		margin-top: 0;
		
	}
	.nav-top li{
		margin-left: 0;
	}
	.nav-top li a{
		padding: 1px;
		margin-top: 8px;
		
	}
}
@media(max-width:482px){
	.nav-top{
		font-size: auto;
		display: inline-block;
		margin-top: 0;
		
	}
	.nav-top li{
		margin-left: 0;
	}
	.nav-top li a{
		padding: 1px;
		margin-top: 8px;
		
	}
}
/* -----------Side menu ber------------------ */
.logo{
	height: 52px;
	width: 100%;
}
#myMenu li a:hover #fa{
	background-color: teal;
	color: white;
  }
.side-nav ul{
    display: flex;
    position: relative;
}
.side-nav ul li{
    position: relative;
    list-style-type: none;
    transform: translateX(-43px);
}
.side-nav ul li a{
    text-decoration: none;
    padding: 0px 6px;
    position: relative;
}
.side-nav ul li:hover{
    background-color: teal;
}
#fa{
	font-size: 20px;
	font-weight: bold;
	padding: 2px 5px;
	color:teal;
}
/* -------------Go to top---------- */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 80px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color:teal;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  #myBtn:hover{
	  background-color: red;
  }
@media(max-width:750px){
	#myBtn{
		bottom: 10px;
	    right: 9px;
	}
}
  /* ----------------------------- */
  
  /* ------------------------------ */

  .w3-bar-block .w3-bar-item {
	padding: 16px;
	font-weight: bold;
  }
  .container1 .mySlides img
  {
	  height: 550px;
  }
  /*--------- Style the search box----------- */
  #mySearch {
	width: 100%;
	font-size: 15px;
	padding: 11px;
	border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  #myMenu li a {
	padding: 12px;
	text-decoration: none;
	color: black;
	display: block
  }
  
  #myMenu li a:hover {
	background-color: teal;
	color: white;
  }
  /* ----------------End side menu------------ */

  /* ---------slider style-------------------- */
  .slider .img-st img{
	height: 450px;
	width: 100%;
  }
 /* ----------End slider style--------------- */
  .image-top img
  {
	  width:100%;
	  
  }
  .image-top a
  {
	 margin: 2px 2px;
	  
  }
  .image-top img:hover
  {
	  transform:scale(1.1);
	  transition:1s;
  }
  .like-view
  {
	  display:block;
	  opacity:0;
	  position:absolute;
	  margin-left:0;
	  width:70px;
	  margin-bottom:20%;
	  transform: translateY(-100%);
  }
  .like-view .fa
  {
	  cursor:pointer;
	  background-color: red;
	  color:#fff;
	  height:25px;
	  width:25px;
	  font-size:15px;
	  padding:5px;
	  margin-top:3%;
	  margin-bottom:7%;
	  
  }
  
  .like-view .btn-secondary
  {
	  background:none!important;
	  border:none!important;
	  box-shadow:none!important;
  }
  .image-top:hover .like-view
  {
	  opacity:1;
	  margin-left:5%;
	  transition:1s;
  }
/*------------------------footer--------------------*/
.footer
{
	color:#fff;
}
.footer h1
{
	font-size:15px;
	margin:25px 0;
}
.footer a
{
	font-weight:bold;
	font-size:12px;
}
.col-md-3 p:hover
{
	background-color:orange;
	background-position:center;
}
.Footer-image img
{
	height:40px;
	width:130px;
}
.Footer-image img:hover
{
	transform:scale(1.1);
}
.copyright
{
	margin-bottom:-80px;
	text-align:center;
	font-size:20px;
	padding-bottom:20px;
}
.fa-heart, .fa-Facebook-official
{
	color:red;
	font-size:15px;
}
.footer hr
{
	margin-top:15px;
	background-color:#ccc;
}
.footer a
{
	list-style-type:none;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
.fa-Facebook-official  
{
	margin-right:5px;
}
.fa-Youtube-play
{
	margin-right:5px;
}
.fa-Linkedin
{
	margin-right:5px;
}
.fa-Twitter
{
	margin-right:5px;
}
.pagination
{
	margin-left:300px;	
}
.image-top img
{
	height:200px;
	width: 400px;
}



  /* ------End top navbar--------- */
  /* -----------contact from------------ */
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px !important;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
 .from-control{
	 padding: 12px!important;
 } 
  input[type=submit] {
	background-color: teal;
	color: white;
	padding: 12px 20px !important;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 5px;
  }
  
  input[type=submit]:hover {
	background-color:teal;
  }
  
  .container1 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  /* end contact from */ 
  /*---------- bugettbox-------------- */
  .content {
    max-width: 1160px;
	margin: 0 auto;
	margin-left: 10px;
	margin: 2px 2px;
}
.gallery:after {
    content: '';
    display: block;
    margin: .5em 0 1.4em;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}
.gallery img {
	height: 100%;
	
}

.gallery a {
    width: 300px;
    height: 230px;
    display: inline-block;
    overflow: hidden;
    margin: 2px 2px;
    box-shadow: 0 0 4px -1px #000;
}

.ribbon > img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
/* -------clock in slider--------- */
.clock {
	border-radius: 10px;
	color: #fff;
	font-family: 'Orbitron', sans-serif !important ;
  }
.format{
	color: aquamarine;
	font-size: 30px !important;
	margin: 20px 0;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
  }
  .format button{
	display: inline-block;
	border: none;
	outline: none;
	font-size: 15px;
	padding: 8px 15px;
	font-family: 'Orbitron';
	border-radius: 4px;
	cursor: pointer;
	margin: 8px;
  }
  .format button:hover{
	  background-color: red;
	  color: white;
  }