@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	scroll-behavior: smooth;
}
.logo{
	height: 50px;
	width: 100%;
}
#myMenu li a:hover {
	background-color: teal;
	color: white;
  }
.side-nav ul{
    display: flex;
    position: relative;
}
.side-nav ul li{
    position: relative;
    list-style-type: none;
    transform: translateX(-43px);
}
.side-nav ul li a{
    text-decoration: none;
    padding: 0px 6px;
    position: relative;
}
.side-nav ul li:hover{
    background-color: teal;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color:red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: teal;
  }
  /* ------------------------------ */

  .w3-bar-block .w3-bar-item {
	padding: 16px;
	font-weight: bold;
  }
  body {
	font-family: Arial;
	margin: 0;
  }
  .container1 .mySlides img
  {
	  height: 550px;
  }
  /* Style the search box */
  #mySearch {
	width: 100%;
	font-size: 15px;
	padding: 11px;
	border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  #myMenu li a {
	padding: 12px;
	text-decoration: none;
	color: black;
	display: block
  }
  
  #myMenu li a:hover {
	background-color: teal;
	color: white;
  }
  .img-st{
	width: 100%;
	height: 400px;
	margin-top: 2px;
  }
  .image-top img
  {
	  width:100%;
	  
  }
  .image-top a
  {
	 margin: 2px 2px;
	  
  }
  .image-top img:hover
  {
	  transform:scale(1.1);
	  transition:1s;
  }
  .like-view
  {
	  display:block;
	  opacity:0;
	  position:absolute;
	  margin-left:0;
	  width:70px;
	margin-bottom:20%;
	transform: translateY(-100%);
  }
  .like-view .fa
  {
	  cursor:pointer;
	  background-color: red;
	  color:#fff;
	  height:25px;
	  width:25px;
	  font-size:15px;
	  padding:5px;
	  margin-top:3%;
	  margin-bottom:7%;
	  
  }
  .like-view .btn-secondary
  {
	  background:none!important;
	  border:none!important;
	  box-shadow:none!important;
  }
  .image-top:hover .like-view
  {
	  opacity:1;
	  margin-left:5%;
	  transition:1s;
  }
  .img-st{
	max-width: 100%;
	height: 480px;
  }

/*------------------------footer--------------------*/
.footer
{
	color:#fff;
}
.footer h1
{
	font-size:15px;
	margin:25px 0;
}
.footer a
{
	font-weight:bold;
	font-size:12px;
}
.col-md-3 p:hover
{
	background-color:orange;
	background-position:center;
}
.Footer-image img
{
	height:40px;
	width:130px;
}
.Footer-image img:hover
{
	transform:scale(1.1);
}
.copyright
{
	margin-bottom:-80px;
	text-align:center;
	font-size:20px;
	padding-bottom:20px;
}
.fa-heart, .fa-Facebook-official
{
	color:red;
	font-size:15px;
}
.footer hr
{
	margin-top:15px;
	background-color:#ccc;
}
.footer a
{
	list-style-type:none;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
.fa-Facebook-official  
{
	margin-right:5px;
}
.fa-Youtube-play
{
	margin-right:5px;
}
.fa-Linkedin
{
	margin-right:5px;
}
.fa-Twitter
{
	margin-right:5px;
}
.pagination
{
	margin-left:300px;	
}
.image-top img
{
	height:200px;
	width: 400px;
}
.image-topen img{
	height: 200px;
	width: 400px;
}
/* ---------top navbar------- */
.navber {
	width: 100%;
	overflow: hidden;
  }
  
.navber a {
	float:right;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }
.navber a:hover {
	color: #000;
	text-decoration: none;
  }
@media screen and (max-width: 700px) {
	.navber a {
	  display: block;
	}
	.navber a{
		float:none;
		display: block;
		
	  }
  }
  @media screen and (max-width:1250px){
	  .content{
		  columns: 4;
	  }
  }
  /* ------End top navbar--------- */
  /* -----------contact from------------ */
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px !important;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
 .from-control{
	 padding: 12px!important;
 } 
  input[type=submit] {
	background-color: teal;
	color: white;
	padding: 12px 20px !important;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 5px;
  }
  
  input[type=submit]:hover {
	background-color:teal;
  }
  
  .container1 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  /* end contact from */ 
  /*---------- bugettbox-------------- */
  .content {
    max-width: 1160px;
	margin: 0 auto;
	margin-left: 10px;
	margin: 2px 2px;
}
.gallery:after {
    content: '';
    display: block;
    margin: .5em 0 1.4em;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}
.gallery img {
	height: 100%;
	
}

.gallery a {
    width: 300px;
    height: 230px;
    display: inline-block;
    overflow: hidden;
    margin: 2px 2px;
    box-shadow: 0 0 4px -1px #000;
}

.ribbon > img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
/* @media(max-width:600px){
	.gallery a{
		width: 400px;
		height: 220px;
	}
}
@media(max-width:400px){
	.gallery a{
		width: auto;
		height:auto;
		margin: 15px auto;
	}
} */
/* @media(max-width:300px){
	.gallery a{
		width: 180px auto;
		height: 150px auto;
	}
} */